.navbar-brand img {
    height: 40px;
    width: auto;
    margin-right: 10px;
    object-fit: contain;
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
